{% extends "appfinal/base.html" %}

{% block titulo%} ArteApp | Acerda de mi {% endblock %}

{% block contenidoQueCambia %}
{% load static %}
<div class="card">
    <div class="card-body">
        ¿Quiénes somos?-


        Me llamo Agustín Carranza Carabajal, soy Licenciado en artes visuales por la UNC. Me especializo en dibujo, escultura, arte digital, etc. Uso mis obras como catalizadores para concientizar al púclibo sobre la crisis ambiental contemporánea. Confeccioné esta página web con el fin de difundir y visibilizar la obra de artistas visuales de todo el país. Aquí, los usuarios podrán subir información y obras del artista argentino (o radicado en nuestro país) que desee, a la vez que explorar y hallar nuevas miradas, abordajes, obras, técnicas, escritos y pensamientos que se estén desarrollando en el campo artístico local. -
    </div>
  </div>
{% endblock contenidoQueCambia %}
